.about-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-about{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #3c4043;
}
.about-container{
    width: 90vw;
    display: flex;
    align-items: center;
    background-color: #cddef5;
    border-radius: 30px;
    height: 100vh;
}
.about-image{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img{
    width: 60%;
    border-radius: 100%;
}
.about-tech-stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3c4043;
    height: 90%;
    width: 60%;
    padding: 0 10px;
}
.about-tech-stack p:nth-child(1){
    color: #000000;
}
.about-tech-stack p:nth-child(2){
    /* color: #000000; */
    font-weight: 200;
}
.skill-icons{
    font-size: 4em;
}
.skill-icons i{
    transition: color 0.2s ease;
}
.skill-icons i:hover{
    color: #000000;
}
.button button{
    background-color: #cddef5;
    height: 40px;
    width: 150px;
    border: 2px solid #3c4043;
    border-radius: 7px;
    transition: all 0.2s ease;
}
.button button:hover{
    color: white;
    background-color: #3c4043;
}
/*  */
@media(max-width:768px){
    .about-container{
        flex-direction: column;
        height: 190vh;
        height: 100vh;
    }
    .intro-about{
        font-size: 1.4em;
    }
    .about-container{
        flex-direction: column;
        width: 80%;
        border-radius: 0%;
        border-radius: 30px;
    }
    .about-image{
        width: 100%;
    }
    .about-tech-stack{
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        width: 100%;
    }
}
@media(max-width:480px){
    .about-container{
        height: 190vh;
        width: 100%;
        flex-direction: column;
        border-radius: 0%;
    }
    .intro-about{
        font-size: 1.4em;
    }
    .about-image{
        height: 50%;
        align-items: center;
        width: 90%;
    }
    .about-tech-stack{
        gap: 10px;
        width: 90%;
        height: 50%;
        text-align: center;
        justify-content: flex-start;
        font-size: 0.7em;
    }
    .about-tech-stack p:nth-child(1){
        font-size: 2.5em;
    }
    .skill-icons{
        font-size: 3.5em;
    }
}