.hobby-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hobby-section > p{
    color: #3c4043;
    font-size: 2em;
}
.hobby-main{
    background-color: #cedbdf;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 85vh;
    width: 90vw;
    border-radius: 30px;
}
.hobby-img{
    /* background-color: #3c4043; */
    filter: drop-shadow(0 0 0.25rem #3c4043);
    height: 80%;
    width: 40%;
}
.hobby-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.hobby-desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: antiquewhite; */
    height: 80%;
    width: 40%;
    color: #3c4043;
}
.hobby-desc > p:nth-child(2){
    font-size: 3em;
}
.hobby-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobby-btn button{
    background-color: #cedbdf;
    height: 40px;
    width: 150px;
    border: 2px solid #3c4043;
    border-radius: 7px;
    transition: all 0.2s ease;
}
.hobby-btn button:hover{
    color: white;
    background-color: #3c4043;
}

@media(max-width:790px){
    .hobby-section{
        height: 110vh;
    }
    .hobby-main{
        height: 100vh;
        flex-direction: column;
    }
    .hobby-img{
        width: 80%;
        height: 40%;
    }
    .hobby-desc{
        height: 30%;
        width: 80%;
    }
}
@media(max-width:480px){
    .hobby-img{
        width: 80%;
        height: 45%;
    }
}